[2020-02-25 12:55] stavshamir opened #9 "Do not publish payload to kafka when the payload of `/kafka-api/publish` is wrong"
As a user, when I send a request to `/kafka-api/publish` with a wrong payload, I want the payload to not be published in kafka

[2020-02-25 13:25] stavshamir opened #10 "Add endpoints documentation"

[2020-02-27 12:28] stavshamir opened #11 "Expose a new endpoint that returns the N last messages from a given topic"

[2020-05-15 22:23] cxrdevx opened #14 "Application run failed when using springfox-swagger2:3.0.0-SNAPSHOT"
Hi,

I just added the dependencies in a project with spring webflux, and I ran into the following error

![image](https://user-images.githubusercontent.com/5776378/82100896-fa9e4480-96d8-11ea-8edf-defdc5c11b5b.png)

[2020-05-16 15:58] cxrdevx commented on #14
@stavshamir

[2020-05-16 17:29] stavshamir commented on #14
What version of springfox are you using?
Please provide your build.gradle or pom.xml.

[2020-05-17 16:49] cxrdevx commented on #14
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-p

[2020-05-19 14:47] guija opened #15 "Model for List was not found"
Hi. I have a KafkaListener like this:
[code]
Now if I include swagger4kafka: (Need to exclude logback and springfox-core because I'm not using logback and a more recent version of springfox 2.9.2).
[code]
When starting up the spring boot application I get the following error:
`{"instant":{"epochSecond":1589899103,"nanoOfSecond":976000000},"thread":"main","level":"ERROR","loggerName":"io.github.sta

[2020-05-19 14:50] guija commented on #14
Does it work with an older version of springfox?
You could try excluding the springfox dependency (version 2.8.0 that swagger4kafka comes with) like so:
[code]

[2020-05-19 18:45] stavshamir commented on #15
Thanks for opening the issue. I did not check for collections as payloads, which is obviously a perfectly valid use case.

I looked and the problem is related to erasure - since the payload type is `List` and not `List<Order>`, the model is not constructed properly.

Basically what happens is that through reflection, the payload of the listener method is found (in the `KafkaListenersScanner` class

[2020-05-19 19:50] guija commented on #15
Perfect, thanks for the hints, I think I get the idea. I will definetly look into the issue, but probably during this weekend.

[2020-05-20 16:01] cxrdevx commented on #14
I am using SpringWebFlux so I can only use version 3.0.0-SNAPSHOT

`[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building demo 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:3.1.2:tree (default-cli) @ demo ---
[INFO] com.example:

[2020-05-21 07:52] stavshamir commented on #14
I think I will remove the springfox dependency in the next version which will solve this problem hopefully. Thanks for reporting the issue, I will fix it in a few days.

[2020-05-25 13:50] cxrdevx commented on #14
thanks @stavshamir , you built an excellent tool, I hope I can use it with version 3 of springfox.

[2020-05-25 19:45] stavshamir commented on #14
Thanks for the kind words! I remove the springfox dependencies. Now this project depends only on io.swagger which should be compatible with any springfox version.
Please try updating to 0.0.2 and let me know if it works:
[code]

[2020-05-27 04:01] cxrdevx commented on #14
the pom refers to "spring-boot-starter-web" but I use "spring-boot-starter-webflux" these dependencies cause problems together, try making an exclusion but throw an exception "Unable to start Netty"
![image](https://user-images.githubusercontent.com/5776378/82976248-90c14d00-9fac-11ea-9d0c-271092fa14cf.png)

[2020-05-27 11:40] stavshamir commented on #14
Oh this is a whole other problem. To be honest I am unfamiliar with webflux. The way this package works is by adding a REST controller, so if I can't use spring-boot-starter-web this won't really work. I guess springfox 3.0.0 found a way around it, but this will require much more work. If you have an idea, please share.

[2020-05-28 07:50] stavshamir commented on #14
@cxrdevx I replaced the `spring-boot-starter-web` dependency with the more minimal `spring-web` dependency, which I have seen is being used in webflux as well. So now I hope it all works out.

Please try again with version 0.0.3 and let me know if it works!

[2020-05-30 22:42] zombie10 opened #16 "NullPointerException Can't find properties in the Model"
[code]

Version used:

[code]

Springboot version:

[code]

[2020-05-31 05:54] stavshamir commented on #16
Thanks for reporting the issues. It looks like you are using an old version from the time I was experimenting with publishing this library (notice the package name has changed). Please let me know if you found instructions using this version.

Please use the latest version from jcenter:
[code]

If you this bug still occurs in this version, please open a new issue.

[2020-05-31 05:54] #16 closed

[2020-05-31 08:22] stavshamir opened #17 "Create required data types for asyncapi specification"
https://www.asyncapi.com/docs/specifications/2.0.0/

[2020-05-31 10:07] stavshamir opened #18 "Create AsyncApiService"
Create `AsyncApiService`, retrieved will be responsible to instantiate the `AsyncAPI` object.
- User input should be received through an `AsyncApiDocket` bean.
- Kafka Listener data should be converted to asynapi objects and retrieved from `KafkaListenersScanner`, which should be renamed to `KafkaChannelsService`.

[2020-05-31 10:16] stavshamir opened #19 "Create AsyncApiController"
Receive the required output type as a request parameter (either `yaml` or `json`).

[2020-06-03 17:27] stavshamir commented on #14
@cxrdevx Can I assume that it now works?

[2020-06-08 22:23] cxrdevx commented on #14
Thanks! yes works fine.

[2020-06-08 22:23] #14 closed

[2020-06-14 07:22] stavshamir opened #21 "Upgrade io.swagger.inflector to version 2.0.5 and replace Model with Schema"

[2020-06-14 08:41] #21 closed

[2020-06-14 10:38] #18 closed

[2020-06-14 12:18] stavshamir opened #22 "Example project should use implementation project dependencies"

[2020-06-14 12:41] #22 closed

[2020-06-15 10:55] #19 closed

[2020-07-08 14:00] ntvf opened #23 "springwolf-ui: publish not working without subscribe property"
Thank you for awesome work with this great project!
One issue found related to producers ui. Those are not working. Details below.
https://github.com/stavshamir/springwolf/blob/master/springwolf-ui/src/app/shared/asyncapi.service.ts
line:95         const isSubscribe = subscribe !== null;
when "subscribe" is null in back-end, in generated api spec json it is empty.
subscribe !=null, but undefined,

[2020-07-09 06:12] stavshamir commented on #23
Thanks for the nice words and for opening this issue.
Would you mind attaching the asyncapi.json? You can get it in `localhost:8080/asyncapi/docs`. At the moment, only consumers (subscribe) are supported, so subscribe should never be null at the backend.

[2020-07-15 07:35] vladigeras opened #24 "Support Websocket feature"
Hi!
Thank you for project!
I want to know, can i use it for documenting Spring Websocket functionality?

For example I use next configuration:

[code]
And next controller method:

[code]

Can I describe it with your project to generate documentation and show it in Swagger like format (like Swagger for REST) and give it to client application? I guess, request, response models and url path will be s

[2020-07-15 07:52] stavshamir commented on #24
Thanks for the suggestion! Asyncapi specification supports websockets and it looks like enough information can be gathered automatically from the annotations, so this is absolutely doable.

So while springwolf does not support websockets at the moment, definitely expect it in a future version. Also if would like to contribute, we can discuss and design a solution to support it together.

[2020-07-23 06:48] stavshamir commented on #15
It looks like this will not be an easy fix. It can be easily solved in the client by using a wrapper class, for example:
[code]

I might look into a better solution in the future, but I will be closing this for now.

[2020-07-23 06:48] #15 closed

[2020-07-23 06:58] GenshenWang opened #25 "ConflictingBeanDefinitionException: Annotation-specified bean name 'kafkaProducer' already existed"
Hi, while I running project, there  occurs a exception :
`org.springframework.beans.factory.BeanDefinitionStoreException: Failed to parse configuration class [com.caocao.dic.charge.DicChargeApplication]; nested exception is org.springframework.context.annotation.ConflictingBeanDefinitionException: Annotation-specified bean name 'kafkaProducer' for bean class [io.github.stavshamir.springwolf.produc

[2020-07-23 08:11] stavshamir commented on #25
Thanks for reporting this problem! Obviously naming this bean with a common name such as `kafkaProducer` was a mistake on my part. I will fix it in the coming days. If you wish, you can provide a pull request yourself, changing the name of the bean from `kafkaProducer` to `springwolfKafkaProducer`.

In the meanwhile, if possible, to you can change the name of your bean from `kafkaProducer` to some

[2020-07-26 09:06] #25 closed

[2020-10-18 07:52] #23 closed

[2020-11-30 15:52] pixelstuermer commented on #24
Is there any news on this?

[2020-12-10 10:07] stavshamir commented on #24
Not yet, sorry. If you would like to, I'm open to contributions.

[2020-12-30 11:45] shkup opened #26 "RabbitMQ Support"
I have an already existing `spring boot` application that listens to `RabbitMQ` queue. It consumes a specific message (wrapped in `CloudEvent`) under specific topic. Can this generator assist me in exposing it as AsyncApi?  Does it respect `CloudEvent` object?

[2020-12-31 13:31] stavshamir commented on #26
Opened a new project for rabbit, thanks for the contribution.

[2020-12-31 13:31] #26 closed

[2021-01-05 09:47] stavshamir opened #27 "Add support for producers"
### Goal
Allow users to specify producers, so that the producers will be added to the asyncapi document.

### API
The producers will be set in the `AsyncApiDocket`, in a new field: `producers: List<ProducerData>`.
The `ProducerData` should have a builder and contain the following fields:
- `channelName: String`, not null
- `payloadType: Class<?>`, not null
- `binding: Map<String, ? extends Operati

[2021-01-11 09:33] #27 closed

[2021-01-13 21:54] Santiago-Rocha opened #29 "Failed to inject WebTestClient when using springwolf-core"
Hi!
Amazing project

I build and reactive api with spring webflux and kafka, I have an issue when I implement springwolf-core to document kafka listeners and WebTestClient for my tests, the log is next

    Caused by: org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'org.springframework.test.web.reactive.server.WebTestClient' available: expected at least

[2021-01-14 09:18] stavshamir commented on #29
Thanks for opening the issue!

A few questions that could help me solve this it:
1. Could you please share the entire stack trace?
2. Why do you think it's related to the inflector?
3. What version of swagger do you use? If you can, please provide the exact Gradle/maven dependency for swagger.

[2021-02-25 11:30] chris0550 opened #30 "Enhancing KafkaOperationBinding"
Hello,
maybe it would bring a benefit if we change the `GroupId groupId` to a more generic type in order to fulfill also other [requirements](https://github.com/asyncapi/bindings/blob/master/kafka/README.md#message) like the clientId.

https://github.com/springwolf/springwolf-core/blob/e139fa12189494cc384bf63d717d16ba988ba19d/src/main/java/io/github/stavshamir/springwolf/asyncapi/types/channel/ope

[2021-03-01 06:53] stavshamir commented on #30
Hi @chris0550, there is another library that implements the entire asyncapi spec for java which I intend to switch to in the future. In the meanwhile if there are some missing fields which are important to you, feel free to provide a PR with the desired changes, your other PRs were very valuable!

[2021-08-28 04:13] stavshamir commented on #24
That would be great! Work and Covid took most of my available time to contribute to this project.
Let me know if you need guidance or help if you eventually choose to implement this.

[2021-08-31 11:21] pixelstuermer commented on #24
Nice :) THX for pushing it forward.

[2021-09-27 13:58] stavshamir commented on #29
Closed due to inactivity.

[2021-09-27 13:58] #29 closed

[2021-10-09 17:34] stavshamir opened #31 "publish/subscribe semantics are mixed up"
# Description
Currently, listeners are mapped as `subscribe` channels, and producers are mapped as `publish` channels. Apparently, it should be the other way around.
See https://www.asyncapi.com/blog/publish-subscribe-semantics.

Thanks to https://github.com/kalarani for notifying me.

# Fix
1. The `subscribe` operation in [AbstractChannelScanner::buildChannel](https://github.com/springwolf/spring

[2021-10-10 02:59] kalarani commented on #31
Hi @stavshamir I'm working on this. Will raise a PR shortly.

[2021-10-10 12:04] #31 closed

[2021-10-11 06:03] stavshamir opened #33 "Replace `asyncapi/types` with jasyncapi types"
### Motivation
Currently, the project uses in-house implementation of the various asyncapi types (such as `Channel`, `Operation` etc.).
This in-house implementation is problematic due to:
1. There are many bindings missing for most of the protocols. Actually only kafka bindings were implemented. For more plugins to be created, we need the bindings for them.
2. It repeats the great job already done

[2021-10-12 00:51] kalarani commented on #33
Sure @stavshamir . I'll take a look.

[2021-11-17 10:08] indrekots opened #34 "Configurable docs URL path"
Would it be possible to make the docs path configurable via properties?

Example `application.properties`
[code]

[2021-11-17 11:51] stavshamir commented on #34
Do you mean the url path?

[2021-11-18 07:42] indrekots commented on #34
Yes, exactly (updated issue title). I'd like to serve the docs from a different path.

[2021-11-19 16:32] indrekots opened #35 "How to document fields in message payload"
Is it possible to provide additional description to the fields in a message payload? For example, could I use some annotation to describe the field, provide an example value or define whether it is required or not?

[2021-11-21 11:59] stavshamir commented on #35
Sure, it makes a lot of a sense to add this feature. Thanks for the suggestion!
Maybe we can even use the `@ApiModelProperty`.
I can do it in the next following weeks, but if you would like to contribute a pull request yourself that would be more than welcome.

[2021-11-21 12:00] stavshamir commented on #34
Do you need this feature to work with the UI?

[2021-11-24 12:19] indrekots commented on #34
No. I'd only like to configure the URL that produces the JSON output.

[2021-11-25 14:19] stavshamir commented on #34
No problem, will be available in the next release :)

[2021-12-05 18:23] linghengqian commented on #24
I'm happy to see this issue move forward. Is there any progress on this issue?

[2021-12-07 08:23] stavshamir commented on #24
Not yet. Looks like it could be useful though so I'll try tackling this in the close future hopefully.

[2021-12-17 19:03] #33 closed

[2021-12-17 19:04] stavshamir commented on #30
Now when #33 , this can be closed.

[2021-12-17 19:04] #30 closed

[2021-12-17 19:06] stavshamir commented on #34
The documentation API endpoint url is now configurable from `application.properties` with the property `springwolf.paths.docs`. Please not that setting this property to any value other than the default will result in the UI not working.

[2021-12-17 19:06] #34 closed

[2021-12-19 06:27] stavshamir commented on #26
Rabbitmq support has been added.

[2021-12-31 10:15] schrepfler opened #36 "Producers(...) not working"
When using springwolf-kafka 0.3.0 and springwolf-ui 0.3.1 and trying to declare multiple producers the portal does not show any channels.

[code]

[2021-12-31 11:00] stavshamir commented on #36
Hi @schrepfler, thanks for reporting this issue.
Would you mind providing the declarations of `topicProducerData1` and `topicProducerData2`?
Thanks.

[2022-01-08 13:37] schrepfler commented on #36
Sure thing
[code]

[2022-01-08 14:11] stavshamir commented on #36
Are there any error logs from springwolf when the application is starting? (The package is io.github.stavshamir.springwolf).

[2022-01-11 00:05] schrepfler commented on #36
None that I can see.

[2022-01-21 22:33] Cimballi opened #38 "IndexOutOfBoundsException when using bindings instead of queues"
There is an IndexOutOfBoundsException when using RabbitListener bindings instead of queues.

Here is the stack trace :
[code]

[2022-01-22 15:31] stavshamir commented on #38
Thanks for opening this issue and providing the stack trace!
I am not sure what you mean by using bindings instead of queues - do you mind adding an example of one of your `RabbitListener` annotated methods?

[2022-01-22 15:44] Cimballi commented on #38
Something like that :
[code]

[2022-01-22 17:11] stavshamir commented on #38
That's very helpful, thanks. I will try to release a patch in the next few days (if you'd like to provide a fix yourself, that's more than welcome, I'd be happy to help).

[2022-01-26 19:11] meambobbo opened #39 "Spring Kafka - get consumers using @KafkaListener on a class and @KafkaHandler on"
Our services typically have used @KafkaListener on the class declaration and @KafkaHandler on the method declarations within those classes. Springwolf-kafka does not seem to pick these up. I modified the code in one of my handler classes to only use @KafkaListener on the method declarations, and springwolf picks them up correctly.

I don't know whether this is considered an enhancement or a bug, b

[2022-01-26 20:03] stavshamir commented on #39
Hi @meambobbo, thanks for opening the issue!
This is not a bug, simply was not implemented. Now that I see there is some demand, I can add it.

[2022-01-27 03:51] meambobbo commented on #39
I was toying around with the code and I have a solution that works for me. I'll put it in a fork and send a PR so you can see what I did, but you may choose to reject. For my case, we are doing things like this typically:

[code]

We may have another class that also listens to the same topic with a different consumer group id and sometimes a different container factory with different properties.

[2022-01-27 05:38] meambobbo commented on #39
been looking at the spec - looks like the multiple event types is handled via `oneOf` key in the Message Object: https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md#messageObject. This is clearly a better approach than to make each handler method represented as its own channel.

Not sure about the multiple listeners for the same topic case - I don't think AsyncApi allows multiple binding

[2022-01-27 07:17] stavshamir commented on #39
Hi @meambobbo, great input and a PR would be  very welcome, thanks for that.
I agree that `oneOf` is the fitting solution here.
Also, AsyncApi does not allow multiple binding, but the [operation binding for kafka](https://github.com/asyncapi/bindings/blob/master/kafka/README.md#operation-binding-object) allows for multiple group ids to be provided. It may not be the best solution for you, because

[2022-01-28 14:08] strelchm opened #40 "AsyncApi doc genearation without root tag"
Now my generation document on http://localhost:8086/springwolf/docs is:
`{
  "myproject": {
    "asyncapi": "2.2.0"
    "info": {
      ....
    }
    ......
  }
}`
The root node's "myproject" name is from part of AsyncApiConfig:
[code]
If I set title to null, NullPointerException hapens.

When i try to generate client schema by AsyncApi generator
`# ag http://localhost:8086/springwolf/docs @async

[2022-01-30 07:45] stavshamir commented on #40
Thanks for reporting thus issue!
This behavior is intentional, but I realize now that it may interrupt flows like yours.
I think the more reasonable solution here will be to return the valid asyncapi doc directly from` http://localhost:8086/springwolf/docs`.

I make the change and then close this issue.

[2022-01-30 07:49] strelchm commented on #40
Thanks much!

[2022-02-07 11:45] NeoScaler commented on #39
We are also only using class-level @KafkaListener and @KafkaHandler on the method declarations. Hopefully this gets implemented soon. Keep up the good work.

[2022-02-16 17:10] SaiAravindVemuri opened #42 "Unsatisfied Dependency Issue"
getting this error while running the app, added below dependencies  and then  also added Async configuration

<dependency>
            <groupId>io.github.springwolf</groupId>
            <artifactId>springwolf-rabbitmq-plugin</artifactId>
            <version>1.0-SNAPSHOT</version>
        </dependency>
        <dependency>
            <groupId>io.github.springwolf</groupId>
            <artifactI

[2022-02-20 08:41] stavshamir commented on #42
Thanks for reporting this issue!
I think you are using an outdated version - would you mind updating the dependencies to the following and try again?
[code]

[2022-02-23 06:05] sshemirani commented on #39
Is this going to be implemented? We really need this.

[2022-02-23 08:29] stavshamir commented on #39
@sshemirani @NeoScaler Thanks for the interest, I do hope to implement this. If anyone would like to contribute, that would be more than welcome.

[2022-03-01 06:41] SaiAravindVemuri commented on #42
I tried changing the ui version to 0.3.1 and then when I tried accessing the ui with endpoint /asyncapi-ui.html  I'm getting
![image](https://user-images.githubusercontent.com/50715301/156118243-82ce7f2f-532f-4829-affc-96ba4fa9bf4f.png)

[2022-03-01 06:50] stavshamir commented on #42
Please refer to the [documentation]( https://springwolf.github.io/docs/quickstart/) - the url should be `<host>:<port>/springwolf/asyncapi-ui.html`.

[2022-03-05 15:40] stavshamir commented on #38
Thanks for the fix @Omerbea! This will be included in the next release.

[2022-03-05 15:40] #38 closed

[2022-03-05 15:40] #42 closed

[2022-03-05 15:41] stavshamir commented on #39
Just wanted to let anyone interested know that this is in progress an will be released in the coming weeks.

[2022-03-07 04:12] SaiAravindVemuri opened #45 "Example payload not publishing via asyncui.html"
when trying to publish from the example tab in the asyncui.html getting error stating **publish failed** please find the attached screen shot
![image](https://user-images.githubusercontent.com/50715301/156966713-2ad1b836-2309-4f84-a510-3b5c60467faf.png)

After adding AsyncAPI configuration to the RMQ application I'm getting the below error

![image](https://user-images.githubusercontent.com/507153

[2022-03-07 05:39] SaiAravindVemuri commented on #45
resolved when i changed the host to localhost instead of amqp

[2022-03-07 05:39] #45 closed

[2022-03-08 10:17] SaiAravindVemuri opened #46 "No Producer configuration available in AsyncApiConfiguration.java"
when tried adding producer data for AsyncApiConfiguration.java for AMQP example I'm getting issue for binding
![image](https://user-images.githubusercontent.com/50715301/157216456-103543da-8c02-4f6b-a6ac-5ac2f54b1ca6.png)

kindly help with the configuration for producer in AMQP(RMQ)

[2022-03-08 10:40] stavshamir commented on #46
You should use:
[code]

[2022-03-08 10:40] #46 closed

[2022-03-08 11:38] SaiAravindVemuri commented on #46
Thank you this worked for me.

[2022-03-11 07:24] SaiAravindVemuri opened #47 "Security to the generated specs on UI"
How can we add security to the specs that we've generated while viewing the UI something we have for swagger ui screen

Much thanks in advance..

[2022-03-14 07:52] SaiAravindVemuri opened #48 "Adding example values to payload"
how can we add example values for the payload to publish via asyncAPI ui?

[2022-03-14 08:05] stavshamir commented on #48
At the moment examples can't be added to the async api document, but you can edit the generated payload example in the Example tab and publish it.

[2022-03-14 08:05] #48 closed

[2022-03-14 08:06] stavshamir commented on #47
Could you elaborate please? Do the security details you need are part of the async api spec?

[2022-03-14 11:42] stavshamir commented on #47
Oh, you mean you would like to have security on the API and UI themselves?
I did not have a plan to support this, but if you would like to try and provide a PR that would be great.

[2022-03-16 00:59] linghengqian commented on #47
UI security should not be dealt with here. But if possible, can the document give the path of the resource that needs to be secured? This will help with spring Security integration. It looks like
[code]

[2022-03-16 07:38] stavshamir commented on #47
That's great input @linghengqian, thanks a lot. I will add the paths to the documentation site, see [issue](https://github.com/springwolf/springwolf.github.io/issues/3).

[2022-03-16 07:38] #47 closed

[2022-03-19 18:16] stavshamir commented on #38
Released in `springwolf-amqp-0.2.0`.

[2022-03-23 10:06] stavshamir opened #50 "Add `@KafkaHandler` example to `springwolf-examples/springwolf-kafka-example`"
Now that support for `@KafkaHandler` has been added in `0.4.0`, it would be nice to add such an example to the [kafka plugin example project](https://github.com/springwolf/springwolf-core/tree/master/springwolf-examples/springwolf-kafka-example).
This would require to:

- [ ] Add a class with two `@KafkaHandler` methods, with a non-primitive payload (can use the existing example DTOs).
- [ ] Since

[2022-03-23 10:13] stavshamir commented on #39
Thanks for the patience, this is now released in 0.4.0. You should also update your UI version to 0.4.0.
If anyone would like to provide a small but helpful contribution related to this issue, please take a look at #50.

[2022-03-24 05:48] NeoScaler commented on #39
Thanks a lot. I can see the docs after upgrading to the mentioned versions. UI is still empty and showing nothing unfortunately.

[2022-03-24 06:04] stavshamir commented on #39
Could you attach the docs please?

[2022-03-24 06:22] sshemirani opened #51 "Support Kafka Header"
There should be a support to add Kafka headers. For example the spring __TypeId__ header should be provided in order for the spring to serialise and deserialize payloads. Without this header the publish button on the example tab cannot work as it need a __TypeId__ header to do its job.

Thanks and keep up the good work.

[2022-03-24 10:03] 19941112 opened #52 "not validating the queue"
when added producer configuration and trying to publish message from the ui it isn't validating the queue please help me to understand a way in validating the queue

![image](https://user-images.githubusercontent.com/50715301/159892138-862891ed-93d6-48ff-8fb0-1eaae17cb35d.png)

[2022-03-24 11:05] SaiAravindVemuri opened #53 "async specs independant of application"
is there a way in making the specs independent of application, which means if the application is down can i able to view the specs?

[2022-03-24 12:41] NeoScaler commented on #39
Unfortunately not, as it is company-owned code. The docs consist of 4 channels with each a published kafka binding and 1-2 messages each channel. The docs is shown as valid in the AsyncAPI Studio.

[2022-03-30 09:05] gomonp opened #54 "Plans for future"
Hi everyone who develops this tool!
I've tried to use this tool on my production project to make useful API for Rabbit AMQP that we expose internally.
But found that in fact library covers at most 10% of [AsyncAPI specification ](https://www.asyncapi.com/docs/specifications/v2.0.0)
Also I found that for some reason it was designed in a way that restricts any extension of existing "Services/Provide

[2022-04-03 06:36] stavshamir commented on #53
You can copy the document from the endpoint (`localhost:8080/springwolf/docs`) while the app is running and save it. I will add a "download doc" button to the UI in the future.

[2022-04-03 06:36] #53 closed

[2022-04-03 09:13] stavshamir commented on #39
I checked again and (as sad as I am to write it) it works on my machine with the basic example I created. It would be hard to debug without seeing the input, so if there is someway you could provide maybe a redacted example of the doc you have, I may be able to further investigate it.

[2022-04-03 09:14] stavshamir commented on #52
I'm sorry but I am not sure what you mean by validating the queue - do you mean that you would like springwolf to validate the existence of a queue?

[2022-04-03 09:15] stavshamir commented on #51
Thanks for the kind words!
I agree that this is a needed improvement. I'll try to add it in the next version.

[2022-04-03 09:28] stavshamir commented on #54
Hi @gomonp, thanks for the interest in the project!

1. I'm not sure what you mean by not covering most of the AsyncAPI specification - the models were indeed own-created in the past, but in the last few versions I am using the [official models](https://github.com/asyncapi/jasyncapi).
2. When you write restriction of extension, do you mean that you would like to be able to specify more channels an

[2022-04-05 07:19] sshemirani commented on #39
Thank you for your quick response.
In order to re-produce the issue with the headers, you need to have two @KafkaHandler with two different payload types (The events should be java POJOs) on the same topic. The __TypeId__ header allows the spring to distinguish the method call depending on the incoming event.

Unfortunately I haven't had time to create a PoC for you.
Thanks a lot

[2022-04-07 11:52] stavshamir commented on #39
@sshemirani Thanks, I reproduced your problem and will try to solve it, I was referring to @NeoScaler in my last comment.

[2022-04-13 08:48] NeoScaler commented on #39
I try to add a redacted example beginning next week.

[2022-04-15 05:26] SaiAravindVemuri commented on #52
so can you clarify what should we give in the channel("<<here?>>") i'm giving queue name to which publisher is publishing
in that place if in case we don't have queue name can we take it with binding ?

[2022-04-18 05:12] typekpb opened #55 "gradle plugin for build-time generation"
I like the idea of generating documentation in the build time.
Adding idea of an option to generate asyncapi json|yaml in the build time using gradle.
Generating the html UI I see only as an optional step, as there are usually already provided solutions that can visualise the provided spec in a fancy way.

[2022-04-18 05:13] typekpb opened #56 "maven plugin for build-time generation"
well, similar to: https://github.com/springwolf/springwolf-core/issues/55, maven is another popular build tool => adding it as well.

I like the idea of generating documentation in the build time.
Adding idea of an option to generate asyncapi json|yaml in the build time using maven.
Generating the html UI I see only as an optional step, as there are usually already provided solutions that can visu

[2022-04-18 05:15] typekpb opened #57 "support for SQS"
as Asyncapi supports SQS: https://www.asyncapi.com/docs/specifications/v2.3.0, it would be nice, if the tool could handle it as well.

[2022-04-18 05:17] typekpb opened #58 "support for JMS"
I know JMS is not so cool any more, but quite some java projects still depend on it.
As AsyncAPI supports JMS: https://www.asyncapi.com/docs/specifications/v2.3.0, it should be supported as well.

[2022-04-19 17:19] sshemirani opened #59 "Support Multiple Producer On the same Kafka Topic"
The Producers should also include the "oneOf" in the "message" property of the generated Async api file.

Currently adding two producer on the same topic in the AsyncApiDocket configuration, results to one overriding the other and only the last one is included.

Here's the configuration that results in such an issue. You van see that the searchProducer and the retrieveProducer have the same topic.

[2022-04-20 07:57] stavshamir commented on #59
Makes a lot of sense and easy to implement. Thanks for the detailed example! I will add this to the next release.

[2022-04-20 07:57] stavshamir commented on #54
Closed due to inactivity.

[2022-04-20 07:57] #54 closed

[2022-04-24 08:15] GoodDonkey opened #60 "@RabbitListener scanning still supporting?"
I tried several times with rabbit listener but channels was not recognized by spring-wolf.
the `http://localhost:8081/springwolf/asyncapi-ui.html` opens up fine, showing Server and Info, but not Channels.
In RabbitMQ Management console, channels are fine with each queue name

I did with springwolf 0.4.0, 0.3.1 but I found that documentation states that latest support for RabbitMQ is 0.2.0
So, trie

[2022-04-24 09:15] stavshamir commented on #60
Hi, I believe you might have used the wrong dependency - springwolf has different plugins and the kafka plugin is version 0.4.0, while the rabbit one is indeed version 0.2.0.
Please make sure you are using the following:
[code]
you can see a complete example here https://github.com/springwolf/springwolf-core/tree/master/springwolf-plugins/springwolf-amqp-plugin#usage

Please let me know if your is

[2022-04-24 10:14] GoodDonkey commented on #60
oh Instantly solved the problem. sorry for bothering you. thank you for the answer and the plugin!!

[2022-04-24 11:03] stavshamir commented on #60
You're welcome :)

[2022-04-24 11:03] #60 closed

[2022-05-03 13:00] linghengqian opened #61 "Add support for STOMP in SpringWolf"
- For users of the `Spring` ecosystem, the dependency of `org.springframework.boot:spring-boot-starter-websocket` is usually used to provide `STOMP` and `sock.js` protocol encapsulation for `Websocket`. `STOMP` is a sub-protocol of `websocket`, and the behavior and paradigm of `STOMP` are defined at https://www.asyncapi.com/docs/specifications/v2.4.0 . I hope there will be a corresponding treatmen

[2022-05-03 17:06] stavshamir commented on #39
I'm closing this as I can't reproduce it and it seems to work for other people. Please open a new issue if your problem persists.

[2022-05-03 17:06] #39 closed

[2022-05-03 17:07] stavshamir commented on #36
Closing as I can't seem to reproduce it.

[2022-05-03 17:07] #36 closed

[2022-05-04 22:13] Crain-32 commented on #61
After a free Afternoon and I want a way to document my own project's `STOMP` Server, here are my notes on trying to get this to work.

I don't believe this feature is possible right now, as Springwolf uses the [1.0.0](https://github.com/springwolf/springwolf-core/blob/27b4703e2505e00b219778a4e890704ea74ca01c/springwolf-core/build.gradle#L21) `bindings` for its internals. This results in the `build

[2022-05-05 06:08] linghengqian commented on #61
@stavshamir Can we upgrade the AsyncAPI Spec version to 2.4.0 now? Or an issue with a higher priority?👀

[2022-05-05 06:41] stavshamir commented on #61
Hey guys, thanks for leading this! I will try to dive in to this issue later toady! @linghengqian we can upgrade, could you tell if there are breaking changes from 2.0.0?

[2022-05-05 08:05] linghengqian commented on #61
- Spec 2.0.0 was released on September 11, 2019, while AsyncAPI released Spec 2.1.0 in March 2021 after joining the Linux Foundation, which has since introduced several breaking updates. We can see an overview of breaking changes from 2.1.0 to 2.4.0 at https://www.asyncapi.com/blog?tags=Release+Notes and https://github.com/asyncapi/spec/releases/tag .

- But https://github.com/asyncapi/jasyncapi n

[2022-05-05 15:32] Crain-32 commented on #61
Oh sweet, I didn't find `jasyncapi`, that will be a help.

@stavshamir I tried the Discord Link the other day from the README, it looks like it has expired. Beyond that this actually mirrors [Issue 24](https://github.com/springwolf/springwolf-core/issues/24). Do you want to keep conversation on this Issue, or migrate it to that Issue and close this one?

[2022-05-05 15:43] linghengqian commented on #61
- Maybe it would be better to go back to #24? However, the title of #24 needs to be changed; it actually refers to STOMP support. (I really don't see anyone introducing Spring WebSocket without using additional messaging protocols to extend message payloads)

[2022-05-05 17:29] stavshamir commented on #61
@Crain-32 I fixed the invite link, it should work now.
@linghengqian I also agree about moving this to #24 - I will close this issue, and provide a list of tasks that we need to complete to implement this feature.

[2022-05-05 17:29] #61 closed

[2022-05-05 17:49] Crain-32 commented on #24
I'm a step ahead of you a bit. We can use my drafted Plugin PR for reference.

So everything AsyncAPI touches is based on Websockets. HTTP is purely Call-Response (Albeit you can do HTTP-Streams, but that's a separate Topic), where as Websockets allow for Server-Side Events to get pushed to the Client.

STOMP is just like AMQP in that they're just protocols for dictating how the data should get tr

[2022-05-05 23:51] linghengqian commented on #24
- In fact, if you only need websocket support, it is not particularly necessary to introduce `spring websocket`, so the introduction of `spring websocket` must actually involve the use of `STOMP` and `sock.js`.

- I think citing Josh Long's explanation in `Sping Tips` can well understand the role of `spring websocket` in this place, it appears to integrate `STOMP` and `sock.js` (of course `sock.js

[2022-05-06 12:40] hirth-abi opened #64 "Add multi message support for AMQP producers and consumers"
1. Support for multiple messages per producers was added in #59 for Kafka. Such support should be also added for AMQP.

2. At least for AMQP multiple messages per consumer should be supported. This is available for Spring Boot with the `@RabbitListener` together with the `@RabbitHandler` annotation, see [documentation](https://docs.spring.io/spring-amqp/reference/html/amqp.html#annotation-method-s

[2022-05-07 10:23] stavshamir commented on #58
Well, I am a little short staffed :) If I provide such a plugin, do you intend to use it? Would you like to contribute?

[2022-05-07 10:23] stavshamir commented on #57
I've been asked for this before, so this will probably be implemented in the future. If you wish to contribute, it would be more than welcome!

[2022-05-07 10:24] stavshamir commented on #56
That's a good idea, but it would require some more heavy design and programming than I have time now. I've never written a maven plugin. If anyone would like to contribute, I'd be happy to help and support.

[2022-05-07 10:25] stavshamir commented on #55
That's a good idea, but it would require some more heavy design and programming than I have time now. I've never written a maven plugin. If anyone would like to contribute, I'd be happy to help and support.

[2022-05-07 10:26] stavshamir commented on #64
I will probably provide this in the next amqp plugin release, thanks for reporting this.

[2022-05-07 10:27] stavshamir commented on #52
I'm still nut sure I understand your question. I will close this for now.

[2022-05-07 10:27] #52 closed

[2022-05-19 19:55] milehimikey opened #65 "Add support for YAML format"
Feature request to add yaml format to the `/springwolf/docs` endpoint. This can be useful for certain tools that work from YAML files to render AsyncAPI documentation.

[2022-05-20 03:39] Crain-32 commented on #65
See https://stackoverflow.com/questions/58414715/generate-yaml-format-response-in-springboot for possible solution for integration.
You'd just have to have a second `@GetMapping` that produces the normal `json`.

[2022-05-22 14:07] DmitriButorchin commented on #35
Was checking out the issue, and found out that it already supports the model documentation, just not with the @ApiModelProperty annotation, but with @Schema.
I can work on this and open PRs for:
- test for the springwolf-core and update the amqp-example
- update springwolf-ui to display description nicely and show whether the field is required
- add the info to the documentation in springwolf.gith

[2022-05-22 14:35] stavshamir commented on #35
Hi @DmitriButorchin ,that would be amazing, great find! Looking forward for the PR

[2022-05-23 18:19] stavshamir commented on #35
Thanks @DmitriButorchin for providing the new UI feature to properly display the `@Schema` properties. The proper usage will be documented in the documentation site, see https://github.com/springwolf/springwolf.github.io/issues/5

[2022-05-24 20:49] DmitriButorchin opened #67 "AMQP - Support multiple instances of RabbitTemplate"
There's a handful of problems with supporting a case when there are multiple RabbitTemplate's.
Here's a use case, instead of using one rabbit template with a default exchange, and specifying a concrete exchange and routing key when sending messages, there could be multiple rabbit template with set exchanges, so that when sending a message you specify only the routing key.
The issues:
1. The app fa

[2022-05-26 12:00] DmitriButorchin commented on #67
I thought about it a bit, and it seems this can be fixed by simply injecting a list of templates in the SpringwolfAmqpProducer and just using the first one.
But this still leaves the question open of how to specify the producer operation that send a message to a specific exchange with a specific routing key. Routing key can be put in the operation binding, which is already present in the model, bu

[2022-05-26 18:32] stavshamir commented on #67
Thanks for the detailed issue!
I have only minimal knowledge regarding rabbit, so I just want to make sure that I understood - what you would like as a user is to be able to declare multiple producer channels, and to be able to publish a message to them from the UI?

We can definitely use the bindings and operation bindings to route the message correctly.

Sure, it does. I had the idea of providin

[2022-05-26 19:04] DmitriButorchin commented on #67
Just so we're on the same page, RabbitMQ (which is AMQP 0-9-1) publishes a message to specific exchange with some routing key. That message is routed to a queue based on that information.
So to describe the producer/consumer fully we need to supply the exchange name (if it's not a default exchange) and a routing key.
And based on the spec https://github.com/asyncapi/bindings/tree/master/amqp#chann

[2022-05-27 06:38] stavshamir commented on #67
It seems that `RabbitListener` already supports providing the exchange and routing key:
[code]

The `RabbitListener` scanner only uses the name of the queue at the moment, but it can easily map the exchange and key from the annotation to the channel object. Would that provide a solution regarding the consumers?

For the producers, we can for the moment ask the user to manually build the bindings o

[2022-05-27 07:11] DmitriButorchin commented on #67
1. Most of the time there won't be any other information in the RabbitListener besides the queue name, as the queue, exchange and binding to the exchange via specific routing key would already exist. It can be used if it's present, but I think there should be a solution for when there's only the queue name there.

2. As mentioned, there are two types of binding, operation binding and channel bindi

[2022-05-27 07:43] stavshamir commented on #67
1. Then how would you suggest to get the exchange an routing key? Another annotation on the consumer method? There must be a way to get this info automatically from the context and configurations - if spring does it then we can as well. It might require some digging into their code, but it is must likely doable.
2. I agree that it would make sense to display the exchange and routing key for AMQP c

[2022-05-31 18:45] #67 closed

[2022-06-05 08:47] yasen-pavlov opened #70 "Add support for custom Model Converters"
Having the ability to register custom model converters would be quite useful.

I ran into this issue because we are using MonetaryAmount in our POJOs and it breaks the schema generation.  There was a similar issue in springdoc that was solved this way: springdoc/springdoc-openapi#606

As per our great discussion on discord, the best way to approach this is to add the ability to register new model

[2022-06-07 08:12] sshemirani opened #71 "The multiple Producer configuration is not working"
Hello, it seems that the multiple producer support does not work, it was fixed on this issue [#59](https://github.com/springwolf/springwolf-core/issues/59)

Im attaching the project that does not work with multiple producers.

[async-api-project.zip](https://github.com/springwolf/springwolf-core/files/8851387/async-api-project.zip)

Calling http://localhost:8080/springwolf/docs will bring the foll

[2022-06-07 08:50] stavshamir commented on #71
Oops, is this on the last release?

[2022-06-07 08:54] sshemirani commented on #71
Yes indeed.

[code]

[2022-06-08 04:27] stavshamir commented on #71
Fixed, please use version `springwolf-kafka-0.6.1` and note the the `binding` field in `ProducerData` has changed to `operationBinding`. You can also use the new `KafkaProducerData` instead.

Thanks for providing the example project, it really helped me nail the problem.

[2022-06-08 04:27] #71 closed

[2022-06-08 20:22] stavshamir commented on #70
These are the things should add:
(1)  `DefaultSchemaService` should be injected with a list of `ModelConverter` beans and add them to the `ModelConverters` instance. This alone will allow users to register their own model converters. It would also be nice to have an example of this in the example projects.
(2) Create new common model converters module for problematic classes like `MonetaryAmount`

[2022-06-10 17:30] stavshamir commented on #70
Current tasks for the new `springwolf-common-model-converters` module:
- [ ] Add some info in the README file
- [ ] Add github workflow file (I will do it)
- [ ] Add the model converters + tests

[2022-06-12 15:36] #70 closed

[2022-06-19 04:53] Crain-32 commented on #65
After Review, this is not a proper feature request for Springwolf due to the following reasons.

- As an imported Library, Springwolf should not affect any expected Spring Configuration. This would either require forcing users to use Jackson specifically, or creating a new Add-on for each Message Mapping based on user requests.
- YAML is not an [officially supported MIME Type](https://www.iana.org

[2022-06-19 14:09] Crain-32 commented on #40
Resolved in https://github.com/springwolf/springwolf-core/pull/75

[2022-06-19 14:12] Crain-32 commented on #50
Is this resolved with the new Class Listener? https://github.com/springwolf/springwolf-core/blob/master/springwolf-examples/springwolf-kafka-example/src/main/java/io/github/stavshamir/springwolf/example/consumers/ExampleClassLevelKafkaListener.java

[2022-06-22 17:59] jrlambs opened #78 "Support for consumers defined in application.properties using spring.cloud.function methods"
**Describe the feature request**
A clear and concise description of what you want to happen.

The "newer" implementation of rabbit/spring cloud stream listeners makes use of spring cloud functions to consume messages with the binding between queues and the method matching on the method name with properties defined in application properties.  This library should be able to automatically find these

[2022-06-23 13:51] keydon opened #79 "Multiple RoutingKeys per Queue not supported? java.lang.IllegalStateException: Duplicate key"
**Describe the bug**
The RabbitChannelsScanner seems not to support Queues with multiple RoutingKeys bound, which is funny :D

**Dependencies and versions used**
`springwolf-amqp` version `0.3.1`. (thows Exception)
`springwolf-amqp` version `0.2.0`. (ignores 2nd Binding)

**Code example**
One queue, two bindings.
[code]

**Stack trace and error logs**
If an exception has been thrown or an error wa

[2022-06-23 17:20] stavshamir commented on #50
Yes, thanks.

[2022-06-23 17:20] #50 closed

[2022-06-25 09:18] stavshamir commented on #79
Thanks for the detailed issue, I will take a look

[2022-06-29 23:04] sergiorc opened #80 "@ConditionalOnProperty annotation discards @KafkaListener candidate method"
**Describe the bug**
When @ConditionalOnProperty is present in any listener class, it is discarded, **even when Condition is true**.
I've only tested with @ConditionalOnProperty, not sure if happening with other Conditional classes.
Only tested with @KafkaListener at method level.

**Dependencies and versions used**
 `springwolf-kafka` version `0.7.0`.

**Code example**

[code]

**More details**
A

[2022-06-30 17:38] sergiorc commented on #80
I guess the problem is located in https://github.com/springwolf/springwolf-core/blob/c33b96a0a9c513c435d3b17e2aeffe3eda21c06e/springwolf-core/src/main/java/io/github/stavshamir/springwolf/asyncapi/scanners/components/ComponentComponentsScanner.java#L27

First test using same code than ComponentComponentsScanner doesn't return the desired listener because my property (kafka.bootstrap-servers) is no

[2022-07-02 07:32] stavshamir commented on #80
Thanks for the detailed issue! Would you mind adding those tests in a PR?
The issue is probably related to the spring method used to get the annotated beans.

[2022-07-03 08:17] stavshamir commented on #79
I see the problem, just want to ask about the expected results:
1. For a given channel (same exchange and queue), when given multiple bindings each with a different routing key, the operation binding field `cc` will be a list containing all the routing keys associated with that exchange and queue.
2. Given the same queue name on different exchanges, like in your example, each will have its own cha

[2022-07-11 12:59] danielatchobanikova opened #83 "Documentation is not correctly generated when having producer and consumer for the same topic."
**Describe the bug**
1. We have a Spring Boot microservice, let's say it is called "test-service"
2. "test-service" has the following consumers:
     2.1 ConsumerA -> consumers "topic-a"
     2.2 ConsumerB -> consumer "topic-b"
3. Now let's say we configure an asyncApiDocket Bean. Everything works fine and I can see both consumers in springwolf ui.
4. Now we add ProducerA -> produces events to "to

[2022-08-03 15:54] keydon commented on #79
Hio, sorry for not getting back to you sooner. Thanks for looking into my issue.

Mhh I see it is not easy to represent AMQP/RabbitMQ with AsyncApi, since you are very free how to use it.

So if I understand the AsyncApi-Specs correctly, a channel is something that can receive or send messages.
So for me in the AMQP/RabbitMQ world, that would be a queue or a routingKey (or exchange/queue (or excha

[2022-08-24 11:44] sn-intrasoft opened #85 "Cannot handle multiple group-ids with same topic"
**Describe the bug**
When there multiple consumer group-id consuming the same topic with different payloads, `ClassLevelKafkaListenerScanner` throws an exception while scanning due to duplicate key of topics.

**Dependencies and versions used**
`springwolf-kafka` version `0.7.0`.

**Stack trace and error logs**
`i.g.s.s.asyncapi.DefaultChannelsService  : An error was encountered during channel sca

[2022-08-26 16:05] sam0r040 commented on #51
I decided to give it a try and started with the changes needed in the backend in PR https://github.com/springwolf/springwolf-core/pull/86

Let me know what you think...

If we are happy with the backend implementation I would also try to provided the change for the frontend.

[2022-09-01 12:55] bdridi opened #87 "Payload schema is not documented in a batch kafka listener"
**Describe the bug**

For a Kafka batch listener where a the type  of the the parameter of the listener method is `List<ExamplePayload>`, the schema of `ExamplePayload` is not documented. The consumer is displayed with a schema : `java.util.List`

**Dependencies and versions used**

For example, `springwolf-kafka` version `0.7.0

**Code example**

[code]

[2022-09-02 09:20] stavshamir commented on #87
Since type erasure it is challenging to get the type parameters at run time. I guess there are ways to overcome this, but the solution is usually on the client side - to have a class wrapping the generic type.

If you can come up with a better solution please let me know.

[2022-09-02 09:21] stavshamir commented on #85
Thanks for reporting this issue! I am swamped lately but will try to get to researching this in the coming weeks.

[2022-09-06 12:25] sn-intrasoft commented on #85
Thanks. More specifically, this case please

    @Test
    public void scan_componentWithMultipleKafkaListenersAndHandlers() {
        // Given multiple @KafkaListener annotated classes with method(s) annotated with @KafkaHandler
        setClassToScan(KafkaListenerClassWithOneKafkaHandler.class, KafkaListenerClassWithMultipleKafkaHandler.class);

        // When scan is called
        Map<String,

[2022-09-09 18:41] stavshamir commented on #83
Thanks for the detailed issue! @timonback here provided fixes both for the core and ui, and I will be releasing them in the next week.

[2022-09-15 16:24] timonback opened #90 "Add documentation for manual consumers"

[2022-09-15 16:24] #90 closed

[2022-09-15 16:26] timonback commented on #90
Superseeded by: https://github.com/springwolf/springwolf.github.io/issues/8

[2022-09-16 12:23] timonback opened #93 "Add code formatter (java/angular)"
As a contributor, I face the difficulty of learning the project specific style guide.
I personally, like the approach to use a formatter, which applies the format to keep the project in a consistent style. Also, I do not have to think (as much) about formatting anymore. Running a gradle task should fix most intendation, line breaks, syntax issues.

In the past, I have used https://github.com/diffp

[2022-09-16 12:30] timonback opened #94 "Add support for kafka headers"
Springwolf already provides documentation for the data payload. Transport metadata (aka headers) cannot be documented with springwolf at this point.
Why the separation? The data/domain payload should be separate from the transport metadata. In REST APIs, the HTTP Content-Type, Content-Length is also a header and (usually) not part of the response object.

AsyncApi allows to define headers as part

[2022-09-17 19:02] stavshamir commented on #94
See #86

[2022-09-23 15:00] sam0r040 commented on #94
Just to keep everything together, the issue that triggered me for PR https://github.com/springwolf/springwolf-core/pull/86 : Issue https://github.com/springwolf/springwolf-core/issues/51

[2022-09-23 17:28] stavshamir commented on #65
Json could be easily translated to yaml with external tools. Maybe this can be added as a feature for the UI in the future as an export button.

[2022-09-23 17:28] #65 closed

[2022-09-23 17:29] stavshamir commented on #83
Released in springwolf-kafka-0.8.0.

[2022-09-23 17:29] #83 closed

[2022-09-23 18:17] timonback commented on #94
By reading #51, I was not sure if documenting the headers is part of it, or only making the springwolf-ui produce to topic functionality work.
If documenting the headers as part of springwolf-ui is part of it, this is a duplicate and can be closed.

[2022-09-23 18:23] stavshamir commented on #94
That's a good point, I was just commenting about it in #51. @sam0r040 in his PR only provides a fix for producing to a topic which has multiple payload types, so let's leave this one (maybe describe it with more detail).

[2022-09-28 07:14] 19941112 opened #98 "Schema on UI is not Displaying as expected"
**Describe the bug**
after updating the versions of spring wolf from 0.1.0  to 0.4.0 and spring wolf-ui from 0.3.1 to 0.5.0 on spring UI page schema tabs are not displaying as expected.

**Dependencies and versions used**
springwolf-amqp - 0.4.0
springwolf-ui - 0.5.0.

**Code example**
below attached the code snippet and output which is displayed on the UI page
![image](https://user-images.githubu

[2022-10-01 14:46] timonback commented on #98
Hi @19941112 , thank you for the report.
Can you further specify what you are expecting?

Based on the screenshots provided, there is an amqp producer queue which produces the `OrderStatus` schema. As part of the schema tab, three fields are listed. One of them is `Order`.
In the Schemas section in the UI, only one schema can be expanded at the same time, which is `Order` at this point. If you exp

[2022-10-03 07:14] 19941112 commented on #98
in the older versions I see the schema tab is displaying as below
![image](https://user-images.githubusercontent.com/50715301/193520301-30852d7f-d2a5-4be9-8037-a55aac04cc9a.png)

[2022-10-05 09:37] jn-monster opened #100 "Inconsistency between Channel Message and Schema object name"
**Bug description**
When a producer (possibly consumer as well - not tested) payload class is annotated by Swagger `@Schema` annotation with `name` the name is used in the schema definitions but in the channel payload message a class simple name is used and therefore there is a mismatch between those 2 which leads to invalid AsyncAPI definition.

See the details in the AsyncAPI result bellow (`Exa

[2022-10-06 08:06] stavshamir commented on #98
Hi @19941112, this is the intended behavior. The new UI schema display is more inline with other open api and async api UIs.

[2022-10-06 08:06] #98 closed

[2022-10-08 17:30] stavshamir commented on #100
Thanks for reporting this, will look into it in the next few days

[2022-10-10 13:43] rogerioesteves opened #101 "AWS SNS and SQS"
Hello Can I use springwolf to document AWS SNS and SQS

[2022-10-14 16:51] timonback commented on #101
Duplicates https://github.com/springwolf/springwolf-core/issues/57

[2022-10-14 17:00] rogerioesteves commented on #57
@stavshamir I also have interest in this feature. Do you have some documentation to implement this feature. Do you have some advice or pattern to be drive. I was looking for some pattern and I think that using spring cloud aws could be a good idea. What do you think?

[2022-10-14 17:43] stavshamir commented on #57
It is a bit different than the AMQP and Kafka annotations, but looks pretty straight forward to implement.
The first thing to do will be to create an example project that can be used to test the plugin.

If you could create one, showcasing the use of SQS and SNS and runnable via docker-compose, it could advance the creation of this plugin.

Please take a look at the springwolf-example projects, fo

[2022-10-14 17:43] stavshamir commented on #101
Commented in #57

[2022-10-14 17:43] #101 closed

[2022-10-14 18:30] #94 closed

[2022-10-15 12:29] stavshamir commented on #100
Fixed, will be available in next release (or see snapshot)

[2022-10-15 16:04] stavshamir commented on #40
Finally fixed, will be available in the next release (will require ui update)

[2022-10-15 16:05] #40 closed

[2022-10-15 18:21] stavshamir commented on #93
I never used a formatter in Java, but I see your point and it is probably more important in open source projects where contributions may be sporadic and come from people with different backgrounds. I will look into this tool and other alternatives.
Thanks for the suggestion

[2022-10-16 22:14] rogerioesteves commented on #57
@stavshamir thanks! I will study ways to implement SQS first all. I will following your suggestions and I will go back with news

[2022-10-17 04:28] stavshamir commented on #57
Great, let me know if I can do anything to help. I will create a branch with the project skeleton so you will have something to start working with.

[2022-10-21 09:34] MikhailYarochkin opened #103 "Example amqp project not showing any data"
I am trying to run springwolf-amqp-example.

When I sun docker-compose I see an example UI.
![image](https://user-images.githubusercontent.com/95617105/197163763-ce11b7f2-7cab-42cc-a228-43d564085c88.png)

And when i run the example locally (IntelliJ, no changes in code) with RabbitMQ from the docker-compose file, the UI page is empty
![image](https://user-images.githubusercontent.com/95617105/1971

[2022-10-21 10:27] stavshamir commented on #103
You're not doing anything wrong - we changed the backend endpoint so the latest released version of the UI doesn't work with it anymore.

It will be fixed in the next release of the UI. If you want to see it running now, checkout the latest springwolf-core release tag instead of the master branch.

[2022-10-21 10:27] #103 closed

[2022-10-21 10:38] MikhailYarochkin commented on #103
Nice to hear this.
Any projection about the release time of the new frontend?

[2022-10-21 11:03] stavshamir commented on #103
Next few days

[2022-10-22 17:35] stavshamir commented on #51
Thanks for the great work of @sam0r040 and @timonback , this will be included in the next release 🥳

[2022-10-22 17:35] #51 closed

[2022-10-23 18:15] #85 closed

[2022-10-23 18:45] stavshamir commented on #57
@rogerioesteves I added a template project, see [branch](https://github.com/springwolf/springwolf-core/tree/feature/sqs-plugin)

[2022-10-24 06:59] sn-intrasoft commented on #85
Thanks @stavshamir 🙏

[2022-10-24 07:45] MikhailYarochkin commented on #103
How i can see it is released?

[2022-10-24 08:26] stavshamir commented on #103
It will be available tomorrow morning. You can check the Releases section in this repo or the UI repo, and I will also announce it the the discord server, you can join here if you'd like https://discord.gg/HZYqd5RPTd

[2022-10-24 19:08] stavshamir opened #110 "Update `org.springframework.boot` version"

[2022-10-24 19:21] stavshamir opened #111 "Update gradle to 7.4.2"

[2022-10-25 06:00] stavshamir opened #112 "Update to JUnit5"

[2022-10-26 08:44] #111 closed

[2022-10-28 09:58] vlad-ge opened #114 "Jackson Deserialisation Bug"
**Context**
Firstly, thanks a lot for the features of springwolf. Very nice work!

Remark: This is my first bug report, I hope I am doing it the "right" way. If not, any remarks in the right direction are welcomed!

**Describe the bug**
While trying to publish an kafka event through "springwolf-ui" a deserialisation error occurs at io.github.stavshamir.springwolf.asyncapi.dtos.KafkaMessageDto due

[2022-11-02 18:42] stavshamir commented on #87
Done thanks to @timonback . Will be available in the next release.

[2022-11-02 18:42] #87 closed

[2022-11-02 19:56] stavshamir commented on #78
See https://github.com/springwolf/springwolf-core/pull/115

[2022-11-03 09:02] vlad-ge opened #116 "Cannot Publish Kafka Message on Compacted Kafka Topic due to no Key"
**Describe the bug**
I tried to publish a kafka message through springwolf-ui on a "compacted" kafka topic. The publish is rejected due to the fact that the producer publishes messages with key value "null".

**Dependencies and versions used**
springwolf-ui: `0.6.0`
springwolf-kafka: `0.9.0`

**Code example**
The problem lies in the producer since the message gets published without a key:
`
packag

[2022-11-19 18:10] stavshamir commented on #116
Thanks for reporting this @vlad-ge , this will actually require support for kafka message keys which we do not have yet at all, so implementing this might take a while

[2022-11-19 18:12] stavshamir commented on #114
Thanks for reporting this. I have not faced this issue while testing before the release, I will look again

[2022-11-23 08:28] jn-monster opened #117 "Using simple data types for payload generates invalid documentation"
When using simple data types like `String`, `Instant`, enum class etc. as the message payload type the generated documentation contains a reference to a missing schema.

See the details in the AsyncAPI result bellow.

**Dependencies and versions used**
springwolf-core version 0.8.0

**Code example**
AsyncApiDocket configuration:

[code]

AsyncAPI result (see the payload `$ref` and empty schemas)
[

[2022-11-29 15:34] leodennis opened #119 "Make list of Objects understandable to AsyncAPI"
Hi,

I'm having trouble generating code with AsyncAPI from asyncapi jsons generated with springwolf.

As example I have a simple class which is expected in one of my kafka consumers:

[code]

This will result in:

[code]

Now when I generate code with asyncapi and java-spring-template I get
[code]

I also get the infromation that AnonymousSchema were generated and

Now here comes my question: How

[2022-11-30 08:49] stavshamir commented on #119
Hi, @leodennis , thanks for reporting this! Does your last example (with the `$id` field) work? If yes, I can try to set the `$id` field of the schema for complex objects.

Could you please provide the entire message containing this sentence?

[2022-11-30 08:50] stavshamir commented on #117
Thanks for reporting this, will try to fix soon

[2022-11-30 13:52] leodennis commented on #119
Hi stavshamir 🙂
yes ifI manually add the `$id` it works

Here is the full message:
[code]

[2022-11-30 15:09] stavshamir commented on #119
Which generator tool / template are you using?
It seems like a bug in the tool - composite objects schemas are deserialized without the `type` field in the `items` object, and instead have a `$ref` field. Look like the tool doesn't handle the missing `type` and existing `$ref`.

[2022-11-30 15:14] leodennis commented on #119
@stavshamir Im using the latest asyncapi/generator with java-spring-template
So you mean it is a bug of the template (or generator) and there is nothing wrong with the java code and the json produces by spring-wolf?

[2022-11-30 15:20] stavshamir commented on #119
Well there might be a bug in springwolf, but we use an asyncapi linter which passes, and the code that generates the schemas is from OpenAPI's `io.swagger` and Jackson's `ObjectMapper`.

Also, the message you attached seems to not mention the possibility of `$ref` field in the `item` object, all leading me to believe that the generator or the template are the source of this issue.

[2022-11-30 15:35] stavshamir commented on #117
I did some research, and I will provide a fix but only for String. Other simple data types can't be desrialized to valid jsons anyway, and I think it is best practice to wrap them with another class.